<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="Azure Subnet Planner"
           Manufacturer="Azure Subnet Planner"
           Version="$(var.ProductVersion)"
           UpgradeCode="F2D73951-75B6-49E4-A27C-986ACA7FA156"
           Scope="perMachine"
           Language="1033"
           Codepage="1252">

    <SummaryInformation Description="Azure Subnet Planner - recommends free address prefixes for new Azure VNETs" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.AssetsDir)app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Azure Subnet Planner" />
    </StandardDirectory>

    <Feature Id="Main" Title="Azure Subnet Planner" Level="1">
      <Component Id="AppExecutable" Directory="INSTALLFOLDER">
        <File Id="AzureSubnetPlannerExe" Source="$(var.AppPublishDir)AzureSubnetPlanner.exe" KeyPath="yes">
          <Shortcut Id="StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="Azure Subnet Planner"
                    Description="Find free address prefixes for Azure VNETs"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon.ico"
                    Advertise="yes" />
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Azure Subnet Planner"
                    Description="Find free address prefixes for Azure VNETs"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon.ico"
                    Advertise="yes" />
        </File>
      </Component>
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Package>
</Wix>
